.App-header {
    text-align: center;
    margin-bottom: 50px;
}

.app-wapper {
    max-width: 900px;
    margin: auto;
}

.search-wapper {
    width: 100%;
    border: 1px solid #3899ec;
    border-radius: 6px;
    overflow: hidden;
    position: relative;
}

.input-control {
    width: calc(100% - 50px);
    height: 50px;
    border: 0;
    font-size: 16px;
    padding: 2px 15px;
}
.input-control:focus {
    outline: none;
}

.action-btn {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.action-btn svg {
    fill: #3899ec;
}

.category-wapper {
    margin-bottom: 30px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    max-width: 850px;
    margin: auto;
}

.item-icon {
    width: 50%;
    margin-bottom: 15px;
    position: relative;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eee;
    box-sizing: border-box;
    padding: 5px;
}

.icon-name {
    display: inline-block;
    padding-left: 15px;
}

.icon-copy {
    cursor: pointer;
    color: #a1a1a1;
}

.icon-copy:hover svg {
    fill: #3899ec;
}

.icon-copy {
    display: inline-block;
    padding-left: 15px;
}
